# See http://www.scala-sbt.org/0.13/docs/Travis-CI-with-sbt.html

# Use container-based infrastructure
sudo: false

language: scala

scala:
  - 2.11.8

jdk:
  - oraclejdk8

# These directories are cached to S3 at the end of the build
cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot/

# Tricks to avoid unnecessary cache updates
before_cache:
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt -name "*.lock" -delete